* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.content {
    position: relative;
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &__title {
        font-size: 4rem;
        text-align: center;
        text-transform: capitalize;
        color: #020202;
        z-index: 20;
        pointer-events: none;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 2rem;
    }

    &__button {
        text-transform: uppercase;
        border: 0;
        border-radius: .5rem;
        background: #f5f5f5;
        color: #020202;
        font-size: 1rem;
        padding: 1rem 4rem;
        cursor: pointer;
        z-index: 10;

        @media screen and (max-width: 575.98px) {
            padding: 1rem 2.5rem;
        }
    }

    @media screen and (max-width: 575.98px) {
        width: 100%;
    }
}